server {
    location / {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /var/www/html/lighthouse;
        index index.php index.html index.htm index.nginx-debian.html;
    }
    